---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _post.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _post.url | absolute_url -}}">Chi tiết hơn</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>
<div id="fb-root"></div>
<div class="fb-customerchat"
page_id="158494498147595"
minimized="true">
</div>
<script>
 window.fbAsyncInit = function() {
   FB.init({
	 appId            : '912333495590130',
	 autoLogAppEvents : true,
	 xfbml            : true,
	 version          : 'v2.11'
   });
 };
(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "https://connect.facebook.net/en_US/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>